<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">INSUREDMINE</h1>
        <p>Successful Insurance Agents Use InsuredMine</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Expedite Sales</h2>
          <p>Learning about your clients, managing your sales pipeline, automated triggers, and data driven decisions are easier than ever. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Automated Engagement</h2>
          <p>Automate follow ups, create custom email campaigns, send text messages, and target the right contact when it matters the most.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Deeper Data Analysis</h2>
          <p>View and understand the story your data is telling. Use that knowledge to grow your business, cross-sell, and retain your customers. Unlock the hidden potential in your data.</p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Quick Access</h2>
          <p>Every action in your Agency Portal is just 3 clicks away, further emphasizing that design thinking and client care is the core of the InsuredMine business philosophy.</p>
           <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>All In One</h2>
         <p>A single platform for all customer-facing software for sales, marketing, phone, payments, reviews, forms, and much more.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      
      </div>

      <hr>

    </div> <!-- /container -->

  </main>